<div class=" container ">

  <div class="d-flex justify-content-center">
    <div class="text-center  form-group col-sm-4">
        <label class="" for="">Que duda tienes?</label>
        <input type="text" class="form-control" name="" placeholder="Escribe aqui" [disabled]='inputQuestion' [(ngModel)]="question"
          (onblur)=mirarQuestion()>
          <button class=" btn-warning col-sm-4" (click)=newQuestion()>Borrar Todo</button>
    </div>

  </div>


<div class="form-group">
  <label for="descItem">Descripción Item:</label> {{messagePlace}}
  <input type="text" class="form-control" name="descItem" #descItemField placeholder='Tu concepto'
    [(ngModel)]="descripcion">

  <div class=" d-inline-flex p-2 custom-control redio-warning">
      <div class=''></div>
    <p class='m-1'> Asignar un valor</p>

    <label>
    <input type="radio" class=" m-1 custom-control"  [value]="valorPuntos.O1.value" [name]="valorPuntos.O1.name"
      [(ngModel)]="puntos">
  </label>
  <label>
    <input type="radio" class=" m-1 custom-control" [value]="valorPuntos.O2.value" [name]="valorPuntos.O2.name"
      [(ngModel)]="puntos">
  </label>
  <label>
    <input type="radio" class=" m-1 custom-control" [value]="valorPuntos.O3.value" [name]="valorPuntos.O3.name"
      [(ngModel)]="puntos">
  </label>
  <label>
    <input type="radio" class=" m-1 custom-control" [value]="valorPuntos.O4.value" [name]="valorPuntos.O4.name"
      [(ngModel)]="puntos">
  </label>
 <p class='m-1'>{{puntos}}</p>
</div>

<div class="row">
<div class="col-6">
  <button class='col-12 btn-warning '(click)=addPositivo()>Añade Positivo</button></div>
<div class="col-6">
  <button class='col-12 btn-warning ' (click)=addNegativo()>Añade Negativo</button>
</div>
</div>


<!--<button mat-button [routerLink]="['/newMember']">Nuevo cliente</button>-->

<div class= "mt-4 listas row ">

<div class= "lisP mt-2 col-xs-12 col-sm-6 col-lg-6">
<h3 class="text-center ">Items Positivos</h3>
<div *ngFor='let pitem of itemsPositivos'>
  <div class="m-2">
    <input class="col-xs-8 col-sm-10 col-lg-10" type="text" name="desc" [value]="pitem.desc" [(ngModel)]="pitem.desc">
    <input class=" col-xs-2  m-1" type="number" min="1" max="4" [value]="pitem.point" [(ngModel)]="pitem.point">

    <div class="row m-1 ">
        <div class="col-6">
          <button class='col-12 btn-warning'(click)=editPositivo(pitem)>Editar</button></div>
        <div class="col-6">
          <button class='col-12 btn-warning ' (click)=deletePositivo(pitem.id)>Borrar</button>
        </div>
   </div>


  </div>
</div>
</div> <!--fin lisP-->
<div class= " lisN mt-2 col-xs-12 col-sm-6 col-lg-6 ">
<h3 class="text-center">Items Negativos</h3>
<div  *ngFor='let nitem of itemsNegativos'>
  <div class="m-2" >
      <input class=" col-xs-8 col-sm-10 col-lg-10 " type="text" name="desc" [value]="nitem.desc" [(ngModel)]="nitem.desc">
      <input class=" col-xs-2 m-1" type="number" min="1" max="4" [value]="nitem.point" [(ngModel)]="nitem.point">
      <div class="row m-1 ">
          <div class="col-6">
            <button class='col-12 btn-warning '(click)=editNegativo(nitem)>Editar</button></div>
          <div class="col-6">
            <button class='col-12 btn-warning ' (click)=deleteNegativo(nitem.id)>Borrar</button>
          </div>
     </div>

  </div>
</div>
</div> <!--fine lisN-->

</div> <!--fine lista-->

</div>


<div class=" m-5 d-flex justify-content-center">
<button class=" btn-warning col-sm-4" (click)=consejo()>Consejo</button></div>

<h4>Resultado</h4>
<span>Coeficiente Positivos: {{puntuacionP}}</span>
<span>Coeficiente Negativos: {{puntuacionN}}</span>
<div *ngIf="puntuacionP > puntuacionN">¡¡¡Toma la Decision!!!</div>
<div *ngIf="puntuacionN > puntuacionP">¡¡¡NO tomes esa decision!!!</div>

<!--<a [routerLink]="['/member/',itemP.id]" routerLinkAcActive="router-link-active">{{itemP.desc}}</a>-->
